@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.about-me {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 75px;
  flex-direction: column;
}

.title {
  text-align: center;
}

.paragraph {
  text-align: start;
  margin: 16px;
}
