@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  background: linear-gradient(
    45deg,
    #f5f2ff 17.94%,
    #f2e3ff 52.54%,
    #e5fff7 71.51%,
    #d1f0ed 90.17%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .navMain {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background: rgba(256, 256, 256, 0.66);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .hamburger-container {
    margin-top: 22px;
    margin-left: 14px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }

  /* 859-308-2582 */

  .ai-drawing {
    position: relative;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
  }

  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background: rgba(256, 256, 256, 0.66);
    z-index: -1;
  }

  .ai-drawing-image {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .short-text {
    width: 75%;
    height: 450px;
    flex-shrink: 0;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-title {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-style: bold;
    font-weight: 700;
    line-height: normal;
  }

  .my-name {
    color: #dfbaff;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) {
}
